#####################################################################
# working with git:                                                 #
# -----------------                                                 #
# put these settings in .git/config                                 #
# use the git aliases listed below                                  #
# add your own user.name and user.email into the user section below #
# sets git config user.name and user.email                          #
#####################################################################
[user]
    name = ndbiller
    email = andie.biller@gmail.com
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = C:/Program Files (x86)/KDiff3/kdiff3.exe
[diff]
	guitool = kdiff3
[difftool "kdiff3"]
	path = C:/Program Files (x86)/KDiff3/kdiff3.exe
[core]
	editor = \"C:/Program Files (x86)/GitExtensions/GitExtensions.exe\" fileeditor
	autocrlf = true
[credential]
	helper = !\\\"C:/Program Files (x86)/GitExtensions/GitCredentialWinStore/git-credential-winstore.exe\\\"
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
    untracked = red bold
[alias]
	pl = pull
    plo = pull origin HEAD
    #############
    st = status
    lg = log --graph
    aa = add -A .
    cm = commit -m
    ps = push
    pso = push origin HEAD
    #############
    co = checkout
    cob = checkout -b
    #############
    br = branch
    brm = branch --merged
    brd = branch -d
